
<div style="height:10% ;" class="container">
    <div id="carouselExampleIndicators" class="carousel  carousel-dark slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div style="margin-left:10% ;"  class="carousel-inner">
          <div class="carousel-item active">
            <!-- <img src= " class="d-block w-100" alt="..."> -->
           <div class="container">
            <div style="text-align:center ;" class="row">
              <div  class="col-md-2">
                  
                      <img src=" https://demo.opencart.com/image/cache/catalog/demo/manufacturer/canon-130x100.png" class="card-img-top" alt="...">
                      
              </div>
      
              <div class="col-md-2">
                  
                      <img src="https://demo.opencart.com/image/cache/catalog/demo/manufacturer/nfl-130x100.png" class="card-img-top" alt="...">
                      
                  
              </div>
      
              <div class="col-md-2">
          
                      <img src="https://demo.opencart.com/image/cache/catalog/demo/manufacturer/redbull-130x100.png" class="card-img-top" alt="...">
                      
                    
              </div>
      
              <div class="col-md-2">
                  
                      <img src="https://demo.opencart.com/image/cache/catalog/demo/manufacturer/sony-130x100.png" class="card-img-top" alt="...">
                     
                  
              </div>

              <div class="col-md-2">
                
                    <img src="https://demo.opencart.com/image/cache/catalog/demo/manufacturer/dell-130x100.png" class="card-img-top" alt="...">
                   
                  
            </div>
          </div>
           </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-2">
                    
                        <img src=" https://demo.opencart.com/image/cache/catalog/demo/manufacturer/harley-130x100.png" class="card-img-top" alt="...">
                        
                      
                </div>
        
                <div class="col-md-2">
                    
                        <img src="https://demo.opencart.com/image/cache/catalog/demo/manufacturer/disney-130x100.png" class="card-img-top" alt="...">
                        
                    
                </div>
        
                <div class="col-md-2">
            
                        <img src="https://demo.opencart.com/image/cache/catalog/demo/manufacturer/cocacola-130x100.png" class="card-img-top" alt="...">
                        
                      
                </div>
        
                <div class="col-md-2">
                    
                        <img src="https://demo.opencart.com/image/cache/catalog/demo/manufacturer/burgerking-130x100.png" class="card-img-top" alt="...">
                       
                    
                </div>
  
                <div class="col-md-2">
                  
                      <img src="https://demo.opencart.com/image/cache/catalog/demo/manufacturer/starbucks-130x100.png" class="card-img-top" alt="...">
              </div>
            </div>
             </div>
          </div>

          <div style="margin-left: 32%;" class="carousel-item ">
            <div style="position: center;" class="col-md-2">
              <img  src="https://demo.opencart.com/image/cache/catalog/demo/manufacturer/nintendo-130x100.png" class="d-block w-100" alt="...">
            </div>
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>


<br><br><br>
<div style="background-color: rgb(35, 33, 33); color:white; width:100%" >
    <div class="container">
        <br>
    <div class="row">
        <div class="col-md-3">
          
          <ul style="list-style:none ;">
            <li>Information</li> <br>
            <li>Terms & Conditions</li>
            <li> Delivery Information</li>
            <li>About Us</li>
            <li>privacy Policy</li>
          </ul>
        </div>
        <div class="col-md-3">
            <ul style="list-style:none ;">
            <li> Customer Service</li><br>
             <li>Contact Us</li> 
             <li>Returns</li>
             <li> Site Map</li>
            </ul>
        </div>

        <div class="col-md-3">  
            <ul style="list-style:none ;">
                <li>Extras</li> <br>
                <li>Brands</li>
                <li>Gift Certificates</li>
                <li>Affiliate</li>
                <li>Specials</li>
            </ul>
        </div>

        <div class="col-md-3">
            <ul style="list-style:none ;">
                <li> My Account</li> <br>
                <li>My Account</li>
                <li>Order History</li>
                <li>Wish List</li>
                <li>Newsletter</li>
            </ul>
        </div>
    </div>
    <hr>
    Powered By OpenCart <br>
Your Store © 2022
</div>
</div>

