
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img [src]="image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-text">{{title}}</h5>
                  <p class="card-text">{{ description}}</p>
                  <small>${{price }}</small>
                  <small>{{date}}</small>
                  <p>{{rating}}</p>

                  <a href="#" class="btn btn-primary">viewcard</a>
                  <div style="background-color:gary;text-align: center;" class="row">
                    <div class="col-md-4">
                      <i class="bi bi-cart3"></i>
                    </div>

                    <div class="col-md-4">
                      <i class="bi bi-heart"></i>
                    </div>

                    <div class="col-md-4">
                      <i class="bi bi-arrow-left-right"></i>
                    </div>

                  </div>
                   
                </div>
              </div>
        </div>

    </div>
</div>

